<%= link_to 'New Drink', new_drink_path %>

<% provide(:title, 'Drinks') %>
<%= render 'categories/breadcrumbs' %>
<ul class='categories'>
    <% @drinks.each do |drink| %>
	<li>
      <%= link_to(drink) do %>
	<%= drink.name %> <% end %>: <%= number_to_currency drink.price %> <br/>
      <%= drink.description %>
      <%= button_to "Add to cart", order_items_path(drink_id: drink.id) %>
      </li>
  <% end %>
</ul>
