<% provide(:title, @user.name) %>

<h2><%= @user.name %></h2>
<h4><%= @user.email %></h4>
<%= link_to 'Edit', edit_user_path(@user) %>
<hr>
<% if current_user.admin_role %>
  <%= link_to "Dashboard", dashboard_path %>
  <hr>
<% end %>
<h3>Badges</h3>
<ul>
<% @user.badges.each do |badge| %>
  <li><%= badge.description %></li>
  <%= image_tag "#{badge.custom_fields}" %>
<% end %>
</ul>
<hr>
<h3>Orders</h3>
<ul>
<% @user.orders.each do |order| %>
  <li>
  <%= order.created_at.to_s %>: <%= number_to_currency order.grand_total %>
  <ul>
    <% order.order_items.each do |order_item| %>
      <li>
      <%= order_item.quantity %>x  <%= order_item.drink.name %>: <%= number_to_currency order_item.subtotal %>
    </li>
  <% end %>
  </ul>
  </li>
<% end %>
  </ul>

