<header><h1 class="ir" id="recent">Shopping Cart</h1></header>
<ul>
  <% current_order.order_items.each do |item| %>
    <li id="cart_id_<%=item.drink.id%>"> <%= item.drink.name %>: <%= item.quantity %> x  <%= number_to_currency item.drink.price %> <%= number_to_currency item.subtotal %>
  <%=form_for item do |f|%>
    <%=f.text_field :quantity, maxlength:2%>
    <%=f.submit "Update" %>
  <% end%>
  </li>
<% end %>
<h3> Grand Total = <%= number_to_currency current_order.grand_total %> </h3>
  </ul>
  <%= button_to "Empty Cart", order_path(current_order), method: "delete" %>
    <% unless controller_name == "orders" && action_name == "show"%>
  <%= button_to "Place Order", order_path(current_order), method: "get" %>
<% end %>
