<h1> Pay Us, Bitches! </h1>

<%= render "orders/shopping_cart" %>
<%= form_for @order do |f| %>
  <% if current_user.payments.present? %>
    <%= f.label :payment_id, "Credit Card" %>
    <%= f.select :payment_id, options_for_select(current_user.payments.map do |payment|
      ["#{payment.card_type} - Ending in  #{payment.credit_card_number[-4..-1]}", payment.id]
    end) %><br />
  <% else %>
    <%= render "payments/form" %>
<% end %>

<% if user_has_credit_card? %>
  <%= link_to "Add a Credit Card", new_payment_path %><br />
  <%= f.label :table_id, "Table Number" %>
  <%= f.select :table_id, options_for_table_select%><br />
  <%= f.submit "Confirm", class: "confirm button" %>
<% end %>
<% end %>

