<ul class='categories'>
<% @categories.each do |category|  %>
  <h4><%=category.drink_type %></h4>
  <ul class='<%= category.drink_type %>'>
    <% category.drinks.each do |drink| %>
      <li>
      <%= drink.name %>: <%= number_to_currency drink.price %> <br/>
      <%= drink.description %>
      </li>
    <% end %>
</ul>
<% end %>
</ul>
