<!DOCTYPE html>
<html>
<head>
  <meta charset= "utf-8">
  <title>Dive Bar<% if yield(:title) != "" %> | <%= yield(:title) %> <% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bigcon">
<%= render 'layouts/header' %>
  <div class="container">
    <section id="content">
      <h4><p class="flash"><%= flash.notice %></p></h4>
      <%= yield %>
    </section>
    <%= render_sidebar %>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>







