<!DOCTYPE html>
<html>
<head>
  <meta charset= "utf-8">
  <title>Dive Bar<% if yield(:title) != "" %> | <%= yield(:title) %> <% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bigcon">
<%= render 'layouts/header' %>
  <div class="container">
    <section id="content">
      <h4><p class="flash"><%= flash.notice %></p></h4>
      <%= yield %>
    </section>
    <section id="sidebar">
      <section id="recent_activity">
        <header><h1 class="ir" id="recent">Shopping Cart</h1></header>
	<ul>
	<% current_order.order_items.each do |item| %>
	  <li> <%= item.drink.name %>: <%= item.quantity %> x  <%= number_to_currency item.drink.price %> <%= number_to_currency item.subtotal %></li>
	<% end %>
  <h3> Grand Total = <%= number_to_currency current_order.grand_total %> </h3>
	</ul>
  <%= button_to "Empty Cart", order_path(current_order), method: "delete" %>
  <%= button_to "Place Order", order_path(current_order), method: "get" %>

      </section>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>







