<!DOCTYPE html>
<html>
<head>
  <title>Drinking Dash</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logo"> </div>
  <nav id="header"> 
    <ul>
      <li><%= link_to 'Menu', categories_path %></li>
      <li><%= link_to 'Home', root_path %></li>
      <!-- <li><%= link_to 'Contact', root_path %></li>           -->
    </ul>
  </nav>
  <div id="sidebar">
    Shopping Cart
  </div>
  <div id="content">
    <%= yield %>
  </div>

  <nav id="footer"> 
    <ul>
      <li>Footer</li>
    <ul>
  </nav>

</body>
</html>
