<!DOCTYPE html>
<html>
<head>
  <meta charset= "utf-8">
  <title>Dive Bar<% if yield(:title) != "" %> | <%= yield(:title) %> <% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bigcon">
  <header id="page_header" role="banner">
    <nav id="utility">
      <div id="login">
        <% if signed_in? %>
          <li>
            <%= link_to "Users", '#' %>
          </li>
          <li>
            <%= link_to "Profile", current_user %>
          </li>
          <li>
            <%= link_to "Sign Out", signout_path, method: "delete" %>
          </li>
        <% else %>
          <%= render 'sessions/form' %>
        <% end %>
      </div>
    </nav>
  <%= link_to(image_tag("/assets/logo.png", alt: "Logo", id: "logo"), root_url, title: "Dashboard") %>
  </header>
  <nav id="main_nav" role="navigation">
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Menu', categories_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
  <div class="container">
    <section id="content">
      <p class="flash"><%= flash.notice %></p>
      <%= yield %>
    </section>
    <section id="sidebar">
      <section id="recent_activity">
        <header><h1 class="ir" id="recent">Shopping Cart</h1></header>
      </section>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
    




  

