<!DOCTYPE html>
<html>
<head>
  <meta charset= "utf-8">
  <title>Dive Bar<% if yield(:title) != "" %> | <%= yield(:title) %> <% end %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="bigcon">
<%= render 'layouts/header' %>
  <div class="container">
    <section id="content">
      <h4 class=><p class="flash"><%= flash.notice %> 
      </p> </h4>
      <h4 class=><p class="badge"><%= flash.alert %> 
      </p> </h4>
      <%= yield %>
    </section>
    <% unless controller_name == "orders" && action_name == "show"%>
    <%= render "layouts/sidebar" %>
  <% end %>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>







